{% extends "base/base.html" %}
{% load custom_filters %}

{% block head_title %}
Dashboard
{% endblock head_title %}

{% block content %}
<!--Sales overwiew-->
<div class="mt-4">
    <h1 class="font-semibold text-xl mb-5">Sales Overview</h1>
    <div class="grid grid-cols-3 mt-2 gap-7">
        <div class="grid h-[150px]">
            <div class="border rounded-lg bg-white p-6">
                <p>Active Leads</p>
                <p class="font-bold text-4xl text-[--primary-color] mt-2">12</p>
            </div>
        </div>
        <div class="grid h-[150px]">
            <div class="border rounded-lg bg-white p-6">
                <p>Follow ups</p>
                <p class="font-bold text-4xl text-[--primary-color] mt-2">12</p>
            </div>
        </div>
        <div class="grid h-[150px]">
            <div class="border rounded-lg bg-white p-6">
                <p>Total Client Inquiry</p>
                <p class="font-bold text-4xl text-[--primary-color] mt-2">{{total_clients}}</p>
            </div>
        </div>
        <div class="grid h-[150px]">
            <div class="border rounded-lg bg-white p-6">
                <p>Revenue Generated</p>
                <p class="font-bold text-4xl text-[--primary-color] mt-2">12</p>
            </div>
        </div>
    </div>
</div>

<!--Client Inquires-->
<div class="mt-4">
    <div class="flex justify-between items-center mb-2">
        <h1 class="font-semibold text-xl">Client Inquires</h1>
    </div>

    <div class="border rounded-lg bg-white p-6">
        <table class="w-full table-auto border-collapse">
            <thead>
                <tr class="border-b border-gray-300">
                    <th class="p-2 text-left w-1/4">Client Name</th>
                    <th class="p-2 text-left w-1/4">Inquiry Type</th>
                    <th class="p-2 text-left w-1/4">Status</th>
                    <th class="p-2 text-center w-1/4">Action</th>
                </tr>
            </thead>
            <tbody class="w-full">
                {% for client in clients %}
                <tr class="border-b border-gray-300 w-full">
                    <td class="p-2">{{ client.name }}</td>
                    <td class="p-2">{{ client.visa_type }} in {{client.preferred_country}}</td>
                    <td class="p-2">
                        <button class="rounded-md border{% if client.status == 'Paid' %} border-green-300 bg-green-300 {% elif client.status == "Pending" %} border-orange-300 bg-orange-300{% else %} border-blue-300  bg-blue-300 {% endif %} w-24 h-8 text-white">
                            {{client.status}}
                        </button>
                    </td>
                    <td class="p-2">
                        <div class="flex gap-2 items-center justify-center">
                            <a href="{% url 'edit_client' client.id %}">
                                <button class="rounded-md bg-[--primary-color] text-white w-24 h-8">Edit</button>
                            </a>
                            <button class="rounded-md border border-[--primary-color] bg-gray-50 text-[--primary-color] w-24 h-8">Remove</button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center py-3">
                        No Clients yet.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>           
    </div>
    
</div>

{% endblock content %}