{% extends 'base/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="mt-6">
    <h1 class="font-semibold text-xl mb-5">Add Team Member</h1>
    <div class="flex items-center justify-between border rounded-xl bg-white p-6 pb-10">
        <form method="post" class="flex flex-col items-center w-9/12 mt-3 ml-3 gap-2">
            {% csrf_token %}
             <!-- Display non-field errors -->
            {% if form.non_field_errors %}
                <div class="text-red-500 text-sm mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="w-full grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.username.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.username.label }}
                    </label>                             
                    {{ form.username|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.email.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.email.label }}
                    </label>                             
                    {{ form.email|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
            </div>
            <div class="w-full grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.first_name.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.first_name.label }}
                    </label>                             
                    {{ form.first_name|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.last_name.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.last_name.label }}
                    </label>                             
                    {{ form.last_name|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
            </div>
            <div class="w-full grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.password.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.password.label }}
                    </label>                             
                    {{ form.password|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                    <!-- Eye Icon -->
                    <button type="button" onclick="togglePassword('id_password')" class="absolute inset-y-0 top-1/2 right-3 flex items-center text-gray-500">
                        <svg id="eye-id_password" class="h-6 w-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-.006.02-.006.042 0 .063C20.268 16.057 16.477 19 12 19c-4.478 0-8.268-2.943-9.542-7a.979.979 0 010-.063z"/>
                        </svg>
                    </button>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.confirm_password.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.confirm_password.label }}
                    </label>                             
                    {{ form.confirm_password|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                     <!-- Eye Icon -->
                    <button type="button" onclick="togglePassword('id_confirm_password')" class="absolute inset-y-0 top-1/2 right-3 flex items-center text-gray-500">
                        <svg id="eye-id_confirm_password" class="h-6 w-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-.006.02-.006.042 0 .063C20.268 16.057 16.477 19 12 19c-4.478 0-8.268-2.943-9.542-7a.979.979 0 010-.063z"/>
                        </svg>
                    </button>
                    {% for error in form.confirm_password.errors %}
                        <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="{{ form.branch.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                    {{ form.branch.label }}
                </label>                             
                {{ form.branch|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="{{ form.role.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                    {{ form.role.label }}
                </label>                             
                {{ form.role|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                {% for error in form.role.errors %}
                    <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label class="block mb-3 text-xl font-medium ml-3">
                    {{ form.access_level.label }}
                </label>
            
                <div class="grid grid-cols-3 gap-2 ml-3">
                    {% for checkbox in form.access_level %}
                        <label class="flex items-center space-x-2 text-gray-700">
                            {{ checkbox.tag }}
                            <span class="text-base">{{ checkbox.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
            
                {% if form.access_level.errors %}
                    <div class="text-red-500 text-sm mt-2 ml-3">
                        {{ form.access_level.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            
            <input type="submit" value="Submit"
            class="w-full h-16 rounded-md px-7 py-1 bg-[--primary-color] font-normal text-white mt-3" />
        </form>
    </div>
</div>

<div class="mt-6">
    <h1 class="font-semibold text-xl mb-5">Team Management</h1>
    <div class="border rounded-xl bg-white p-6">
        <h2 class="font-semibold text-lg mb-5">Team List</h2>
        <table class="w-full border-collapse">
            <thead>
                <tr class="border-b border-gray-300 text-gray-400 font-normal">
                    <th class="p-2 text-left">Name</th>
                    <th class="p-2 text-left">Role</th>
                    <th class="p-2 text-left">Email</th>
                    <th class="p-2 text-left">Access Level</th>
                    <th class="p-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="border-b border-gray-300">
                    <td class="p-2">{{user.first_name}} {{user.last_name}}</td>
                    <td class="p-2">{{user.role}}</td>
                    <td class="p-2">{{user.email}}</td>
                    <td class="p-2">
                        {% for group in user.access_level.all %}
                            <li>{{ group.name }}</li>
                        {% empty %}
                            <li>No access levels assigned</li>
                        {% endfor %}
                    </td>
                    <td class="p-2">
                        <div class="flex gap-2 items-center justify-center">
                            <a href="{% url 'member_detail' user.profile.id %}">
                                <button class='rounded-md bg-[--primary-color] text-white w-24 h-8'>Edit</button>
                            </a>
                            <button class='rounded-md border border-[--primary-color] bg-gray-50 text-[--primary-color] w-24 h-8'
                                onclick="openModal('{% url 'delete_member' user.id %}')"
                            >Remove</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 hidden z-50">
    <div class="bg-white rounded-lg p-6 w-full max-w-md mx-auto text-center shadow-lg">
        <h2 class="text-lg font-semibold mb-4">Are you sure you want to delete this member?</h2>
        <div class="flex justify-center gap-4">
            <form id="deleteForm" method="post">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white px-5 py-2 rounded-md">Yes</button>
            </form>
            <button onclick="closeModal()" class="bg-gray-300 px-5 py-2 rounded-md">No</button>
        </div>
    </div>
</div>

<script>
    function openModal(deleteUrl) {
        const modal = document.getElementById('deleteModal');
        const form = document.getElementById('deleteForm');
        form.action = deleteUrl;
        modal.classList.remove('hidden');
        modal.classList.add('flex')
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }

    function togglePassword(fieldId) {
        const input = document.getElementById(fieldId);
        const eyeIcon = document.getElementById(`eye-${fieldId}`);
    
        if (input.type === "password") {
            input.type = "text";
            eyeIcon.classList.add("text-blue-500"); // optional style change
        } else {
            input.type = "password";
            eyeIcon.classList.remove("text-blue-500");
        }
    }
        
</script>

{% endblock content %}