{% extends 'base/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="mt-6">
    <h1 class="font-semibold text-xl mb-5">Update Team Member</h1>
    <div class="flex items-center justify-between border rounded-xl bg-white p-6 pb-10">
        <form method="post" class="flex flex-col items-center w-9/12 mt-3 ml-3 gap-2">
            {% csrf_token %}
             <!-- Display non-field errors -->
            {% if form.non_field_errors %}
                <div class="text-red-500 text-sm mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="w-full grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.username.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.username.label }}
                    </label>                             
                    {{ form.username|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.email.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.email.label }}
                    </label>                             
                    {{ form.email|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
            </div>
            <div class="w-full grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.first_name.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.first_name.label }}
                    </label>                             
                    {{ form.first_name|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="{{ form.last_name.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                        {{ form.last_name.label }}
                    </label>                             
                    {{ form.last_name|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="{{ form.role.id_for_label }}" class="block mb-3 text-xl font-medium ml-3">
                    {{ form.role.label }}
                </label>                             
                {{ form.role|add_class:'block w-full h-14 px-4 py-2 text-gray-400 bg-gray-50 border border-gray-300 rounded-md focus:border-(--primary-color) focus:ring focus:ring-blue-200 focus:ring-opacity-50' }}
                {% for error in form.role.errors %}
                    <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                {% endfor %}
            </div>
            <input type="submit" value="Update Member"
            class="w-full h-16 rounded-md px-7 py-1 bg-[--primary-color] font-normal text-white mt-3" />
        </form>
    </div>
</div>
{% endblock %}
